apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: nodejs-app-multi-components-repo
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/7qh1rple-tenant/multi-components-repotest-app-170195084/nodejs-app-multi-components-repo@sha256:77f7d5d41923254b8ff3fdda8c90bca34966405d879f31aa2d33917eebaa6893
        name: my-nodejs
        resources: {}
status: {}
